.body{
    margin:20px;
    font-family: 'Patrick Hand', cursive;
}

.avatar{
    width:150px;   
}
.card:hover{
    -moz-box-shadow: 0 0 15px #ffd60a;
    -webkit-box-shadow: 0 0 15px #ffd60a;
    box-shadow: 0px 0px 15px #ffd60a;
}

h1,h2,h3{
margin: 5px 0;
}
.card{
    width: 400px;
    margin: 30px auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: black;
    color: white;
    border-right: 10px solid #ffd60a;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
    height: 150px;
}